.App {
  /* text-align: center; */
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

ul {
  list-style-type: none;
  list-style-position: inside;
  padding-left: 0;
}

.numberGroup {
  padding-left: 2.5%;
  padding-right: 2.5%;
  overflow: hidden;
}

.numberGroup button {
  float: right;
}

.add-number-btn-toolbar {
  padding-left: 2.5%;
}

.save-btn-toolbar {
  float: right;
  overflow: hidden;
  padding-bottom: 2.5%;
}

.badge-primary {
  background-color: #337ab7;
}

.badge-warning {
  background-color: #f0ad4e;
}

.badge-danger {
  background-color: #d9534f;
}

/* h4 .badge {
  float: right;
} */